<!DOCTYPE html>
<html lang="{{ language }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/custom.css">
    <link rel="stylesheet" href="static/css/slider_style.css">

    <!-- Подключаем CSS в зависимости от выбранной темы -->
    {% if theme == "dark" %}
    <link rel="stylesheet" href="static/css/dark_theme.css">
    {% else %}
    <link rel="stylesheet" href="static/css/light_theme.css">
    {% endif %}

</head>

<body>

<!-- Переключатель языков -->
    <div class="language-toggle">
        <a href="{{ url_for('set_language', language='en') }}" class="{{ 'active' if language == 'en' else '' }}">EN</a> |
        <a href="{{ url_for('set_language', language='ru') }}" class="{{ 'active' if language == 'ru' else '' }}">RU</a>
    </div>

<!-- Секция промо с темным фоном - шапка сайта -->
<section class="promo dark-bg pt-2 pb-5">
    <div class="container">
        <!-- Навигационная панель с логотипом и кнопкой -->
        <nav class="navbar navbar-expand-lg mb-5 navbar-dark">
            <div class="container-fluid">
                <a href="#" class="navbar-brand logo d-flex align-items-center text-decoration-none">
                    <div class="logo-left pe-2">
                        <!-- Здесь вставьте ваш логотип/фотку, ее можно скруглять и увеличивать в размере-->
                        <img src="../static/my_photo.jpg" alt="photo"
                             style="border-radius: 60%; width: 70px; height: 70px;">
                    </div>
                    <div class="logo-right" style="margin-left: 6px;">
                        <div class="logo-title link-purple">{{translations['name']}}</div>
                        <div class="logo-subtitle text-yellow">{{translations['kredo']}}</div>
                    </div>
                </a>



                <!-- Меню навигации -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="nav m-auto">
                        <li class="nav-item mx-3">
                            <a href="#story" class="nav-link link-purple link-border-bottom">{{translations['about']}}</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a href="#education" class="nav-link link-purple link-border-bottom">{{translations['education']}}</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a href="#projects" class="nav-link link-purple link-border-bottom">{{translations['projects']}}</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a href="#contact" class="nav-link link-purple link-border-bottom">{{translations['contact']}}</a>
                        </li>

                    </ul>
                    <ul class="nav ml-auto">
                        <li class="nav-item mx-3">
                            <a href="https://github.com/Tasher239" class="nav-link link-purple link-border-bottom">Github</a>
                        </li>
                        <li class="nav-item mx-3 mr-0">
                            <a href="#contact" class="nav-link link-purple link-border-bottom">{{translations['mail_me']}}</a>
                        </li>

                         <li class="nav-item mx-3">
                            {% include "theme_toggle.html" %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Блок приветствия с основной информацией -->
        <div class="row py-0 py-sm-5">
            <div class="col-12 col-lg-8 offset-lg-2 mb-0 mb-sm-5 py-5">
                <h1 class="h1 font-weight-bold font greeting-text text-blue strikethrough">{{translations['mem_info']}}</h1>
                <h1 class="h1 font-weight-bold font greeting-text text-blue">{{translations['greeting']}}</h1>
                <p class="promo-text pb-3">{{translations['greeting_info']}}</p>
                <a href="#contact" class="btn text-center" style="background-color: #DCFF05; color: #102D69">{{translations['mail_me']}}</a>
            </div>
        </div>
    </div>
</section>
<!-- Секция "Обо мне" -->
<section class="story container py-5 text-center" id="story">
    <h2 class="h1 font-weight-bold mt-4 mb-3 mb-sm-5 pb-3 navigo-font">{{translations['about']}}</h2>
    <div class="row">
        <div class="col-12 col-sm-9 offset-sm-2 px-2 pb-5">
            <p class="font-weight-bold pb-4">{{translations['about_info']}}</p>
        </div>
    </div>
</section>
<!-- Секция опыта работы с темным фоном -->
<section class="education dark-bg pt-3 pt-sm-5 pb-3" id="education">
    <div class="container">
        <h2 class="h1 font-weight-bold text-center mt-4 mt-sm-2 mb-0 mb-sm-4 pb-2 navigo-font">{{translations['education']}}</h2>
        <div class="work-experience text-white">
            <div class="d-flex align-items-center mb-2">
                <img src="../static/01_Logo_HSE_full_rus_PANTONE_for_dark_2.png" alt="HSE Logo" class="me-3"
                     style="height: 60px; margin-top: -6px;">
                <div class="d-flex flex-column justify-content-center">
                    <h3 class="h4 mb-1">{{translations['hse_university']}}</h3>
                    <p class="text-white-40 mb-0">{{translations['hse_grad_date']}}</p>
                </div>
            </div>
            <div class="position mb-4" style="margin-left: 20px;">
                <h4 class="h5 text-purple">{{translations['hse_status']}}</h4>
                <p style="margin-bottom: 50px;">{{translations['hse_working']}}</p>
            </div>
            <div class="d-flex align-items-center mb-4">
                <img src="../static/liceum_logo.jpg" alt="HSE Logo" class="me-3"
                     style="border-radius: 60%; width: 70px; height: 70px;">
                <div class="d-flex flex-column justify-content-center">
                    <h3 class="h4 mb-1">{{translations['school']}}</h3>
                    <p class="text-white-40 mb-0">{{translations['school_grad_date']}}</p>
                </div>
            </div>
        </div>
</section>

<!-- Секция проектов -->
<section class="projects pt-3 pt-sm-5 pb-3" id="projects">
    <div class="container">
        <h2 class="h1 font-weight-bold text-center mt-4 mt-sm-2 mb-0 mb-sm-4 pb-2 navigo-font">{{translations['projects']}}</h2>
        <div class="projects">
            <!-- 1 проект -->
            <div class="mb-4">
                <div class="d-flex align-items-center">
              <span class="pr-2">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                  <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
                  <path d="M0 0h24v24H0z" fill="none"/>
                </svg>
              </span>
                    <h3 class="h4 mb-0">
                        <a href="https://github.com/Tasher239/LISA" class="text-link">LISA | Python</a>
                    </h3>
                </div>
                <p class="mt-2 mb-0">
                    {{translations['LISA_info']}}
                </p>
            </div>
            <!-- 2 проект -->
            <div class="mb-4">
                <div class="d-flex align-items-center">
              <span class="pr-2">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                  <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
                  <path d="M0 0h24v24H0z" fill="none"/>
                </svg>
              </span>
                    <h3 class="h4 mb-0">
                        <a href="https://github.com/Tasher239/ImageProcessor" class="text-link">Image processor |
                            C++</a>
                    </h3>
                </div>
                <p class="mt-2 mb-0">
                    {{translations['image_processor_info']}}
                </p>
            </div>
            <!-- 3 проект -->
            <div class="mb-4">
                <div class="d-flex align-items-center">
              <span class="pr-2">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                  <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
                  <path d="M0 0h24v24H0z" fill="none"/>
                </svg>
              </span>
                    <h3 class="h4 mb-0">
                        <a href="https://github.com/Tasher239/Stellayger" class="text-link">Stellayger | C#</a>
                    </h3>
                </div>
                <p class="mt-2 mb-0">
                    {{translations['stellayger_info']}}
                </p>
            </div>

        </div>
    </div>
</section>


<section class="goals dark-bg pt-3 pt-sm-3 pb-3">
    <div class="container">
    <h2 class="h2 font-weight-bold my-4">{{translations['skills']}}</h2>
    <div class="row">
        <div class="col-12 col-sm-8 pb-1">
            <ul class="list-unstyled mb-4">
                <li class="d-flex align-items-center align-content-start m-2" style="line-height: 24px;">
              <span class="pr-1">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" fill="white"><path
                        d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
              </span>
                    <span>Python, C++, C, Assembly</span>
                </li>
                <li class="d-flex align-items-center align-content-start m-2" style="line-height: 24px;">
              <span class="pr-1">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" fill="white"><path
                        d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
              </span>
                    <span>{{translations['skills_info']}}</span>
                </li>
                <li class="d-flex align-items-center align-content-start m-2" style="line-height: 24px;">
              <span class="pr-1">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" fill="white"><path
                        d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
              </span>
                    <span>LaTex, Excel, PhotoShop</span>
                </li>
            </ul>
        </div>
</section>


<!-- Секция сотрудничества -->
<section class="goals container mb-5 pb-sm-5 pb-0" id="contact">
    <h2 class="h2 font-weight-bold my-4">{{translations['contact']}}</h2>
    <div class="row">
        <div class="row">
            <div class="col-12 col-sm-9">
                <p class="d-flex justify-content-start gap-2 flex-wrap">
                    <a href="https://t.me/dastroo" class="btn mb-3" style="background-color: #DCFF05; color: #102D69"
                       target="_blank">{{translations['write_tg']}}</a>
                    <a href="https://example.com/" class="btn mb-3" style="background-color: #DCFF05; color: #102D69"
                       target="_blank">{{translations['view_resume']}}</a>
                    <a href="mailto:dikostin@edu.hse.ru" class="btn mb-3"
                       style="background-color: #DCFF05; color: #102D69" target="_blank">{{translations['email']}}</a>
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Подвал сайта с темным фоном -->
<footer class="footer dark-bg">
    <nav class="container navbar ">
        <ul class="nav m-auto py-2">
            <li class="nav-item mx-3">
                {{translations['footer_info']}}
            </li>
        </ul>
    </nav>
</footer>

<!-- Подключение скриптов Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>